<div class="two-col">
  <div class="col1">
<h1>Region</h1>
<mat-form-field>
  <mat-select [(ngModel)] = "selectedRegion" placeholder="Region" (selectionChange)="onSelect($event.value)">
    <mat-option  *ngFor="let region of regions" [value]="region">
      {{region.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h1>Realm</h1>
<mat-form-field>
  <mat-select [(ngModel)] = "selectedRealm" placeholder="Realm">
    <mat-option *ngFor="let realm of realms" [value]="realm">
      {{realm.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h1>Character name</h1>
<form class="name-form">
  <mat-form-field class ="name">
    <input matInput [(ngModel)]="characterName" name="characterNameInput" placeholder="Character Name">
  </mat-form-field>
</form>

<h1>Submit</h1>
<div class="submit button">
  <button mat-stroked-button (click)="onClick()" [disabled]="!selectedRegion || !selectedRealm || !characterName">Submit</button>
</div>
<div *ngIf="characterItems">
    <h1>Character Back Name</h1>
    {{characterItems.items.back.name}}
</div>
<div *ngIf="items">
  <h1>Back Name</h1>
  {{items.back.name}}
</div>
<div *ngIf="itemArray">
  <ul class="merp"></ul>
  <li *ngFor="let item of itemArray">
    <span class="badge">{{item.name}}</span>
  </li>
</div>
<div *ngIf="storedItems">
<h1>Recorded Items</h1>
  <ul class ="Items">
    <li *ngFor="let item of storedItems">
      <span class="badge">{{item.name}} - {{item.rating}}</span>
    </li>
  </ul>
</div>
</div>
<div class="col2">
  <h1>Stat Weights</h1>
    <form class="statWeights">
      <div>
        <mat-form-field class="mainStatWeight">
          <input matInput [(ngModel)] = "statWeights[0].weight" name="mainStat" type="number" placeholder="Main Stat Weight (Str/Agi/Int)">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="critWeight">
          <input matInput [(ngModel)] = "statWeights[1].weight" name="crit" type="number" placeholder="Critical Strike Weight">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="hasteWeight">
          <input matInput [(ngModel)] = "statWeights[2].weight" name="haste" type="number" placeholder="Haste Weight">
        </mat-form-field>
      </div>
      <div>
          <mat-form-field class="masteryWeight">
            <input matInput [(ngModel)] = "statWeights[3].weight" name="mastery" type="number" placeholder="Mastery Weight">
          </mat-form-field>
        </div>
      <div>
        <mat-form-field class="versatilityWeight">
          <input matInput [(ngModel)] = "statWeights[4].weight" name="versatility" type="number" placeholder="Versatility Weight">
        </mat-form-field>
      </div>
    </form>
</div>
</div>