<div *ngIf="zones">
  <ng-container *ngFor="let zone of zones; let i = index">
    <tr>{{i + 1}} - {{zone.name}} - {{zone.itemCount}}</tr>
    <ng-container *ngFor = "let boss of zone.bosses; let j = index">
      <div *ngIf="boss.items.length > 0">
      <tr><ul>{{boss.name}} - {{boss.items.length}}</ul></tr>
      <ng-container *ngFor = "let item of boss.items; let k = index">
        <tr><ul><ul>{{item.name}} - {{item.ratingimprovementPercent}}</ul></ul></tr>
      </ng-container>
    </div>
    </ng-container>
  </ng-container>
</div>